# Youtube API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Authentication
authlib

# Web app
flask
requests
pyopenssl

# String Matching
# optional: python-Levenshtein
fuzzywuzzy

# Celery for background tasks
celery
