# Youtube API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Authentication
authlib

# Web app
flask
requests
pyopenssl
eventlet

# String Matching
# optional: python-Levenshtein
fuzzywuzzy

# Socket IO for threading and async requests fetch
Flask-SocketIO
gevent
