<!DOCTYPE HTML>
<html>

<head>
	<title>Flask-SocketIO Test</title>
</head>

<body>
	<h3>Demo-Flask-SocketIO-asyncreq</h3>
	<p id='test'> Hello </p>

	<script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
		namespace = '/youtube';


		var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

		socket.on('connect', function(msg) {
			socket.emit('my event', {
				data: 'I\'m connected!'
			});
		});

		socket.on('request', function(msg) {
			console.log(msg.time);
			$('#test').html('<p>' + msg.channels + '</p>');
		});
	</script>
</body>

</html>
